{% load static %}
<header class="tm-header" id="tm-header">
    <div class="tm-header-wrapper">
        <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="tm-site-header">
            <!-- <div class="mb-3 mx-auto tm-site-logo"> -->
                <img src="{% static 'logo.jpg' %}" alt="" style="border-radius: 100%;padding: 0 100px; width: 100%;">
            <!-- </div>             -->
            <h1 class="text-center">Credit!</h1>
        </div>
        <nav class="tm-nav" id="tm-nav">            
            <ul>
                <li class="tm-nav-item active"><a href="{% url 'home' %}" class="tm-nav-link">
                    <i class="fas fa-home"></i>
                    Home
                </a></li>
                {% if request.user.is_authenticated %}
                <li class="tm-nav-item"><a href="{% url 'newPost' %}" class="tm-nav-link">
                    <i class="fas fa-pen"></i>
                    New Post
                </a></li>
                <li class="tm-nav-item"><a href="{% url 'edit_profile' request.user.username %}" class="tm-nav-link">
                    <i class="fas fa-pen"></i>
                    Edit Profile
                </a></li>
                <li class="tm-nav-item"><a href="{% url 'logout' %}" class="tm-nav-link">
                    <i class="far fa-comments"></i>
                    Logout
                </a></li>
                {% else %}
                <li class="tm-nav-item"><a href="{% url 'login' %}" class="tm-nav-link">
                    <i class="fas fa-pen"></i>
                    Login
                </a></li>
                {% endif %}
            </ul>
        </nav>
        <p class="tm-mb-80 pr-5 text-white" style="padding: 10px;">
            Big brother is watching you!
        </p>
    </div>
</header>